DISCORD_TOKEN=your_bot_token_here
COMMAND_PREFIX=!
LOG_LEVEL=info
YT_DLP_TIMEOUT_MS=45000
SUNO_MAX_PLAYLIST_TRACKS=1000
SUNO_DEFAULT_PROFILE_TRACKS=25
SUNO_MAX_PROFILE_TRACKS=500
MAX_CONSECUTIVE_PLAYBACK_FAILURES=3
